{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue</h1>
{{ user.username }}
<p> Assumenda tenetur sit saepe error odio. Dolores aut blanditiis non molestias consectetur necessitatibus. Sit dolores consequuntur cumque adipisci. Est delectus sed assumenda aspernatur quam.</p>
<p>Modi earum distinctio et assumenda nemo. Itaque magni corrupti commodi odit consequatur et. Quos vitae nihil temporibus quo suscipit vero. Et ea nam odit repellat.</p>
<p>Vero illum voluptate illo laborum. Animi neque possimus itaque et expedita labore. Pariatur vel voluptate beatae ea autem mollitia aut voluptatem.</p>
<p>Recusandae sed aliquam esse dolorem sit aut. Consequatur atque tempora aperiam provident ipsa quod beatae. Adipisci ipsa odio eum consequatur provident quisquam. Tempore perspiciatis dolorum sint provident.</p>
<p>Incidunt velit optio tempore quia. Eum qui qui et mollitia ullam quos. Ad et tenetur minus dicta similique animi ut. </p>

{% endblock %}